canvas {
  border: 1px solid black;
  background: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  transition: all linear 0.5s;
}

.remove {
  opacity: 0;
}

header {
  margin-bottom: 15px;
}

.control-buttons button, #hideButton {
  display: block;
  margin: 5px auto;
  min-width: 150px;
}

.mozart-img {
  width: 190px;
  border-radius: 100%;
  margin: 35px auto;
}

.staff-img {
  margin: 0 auto;
}

.table-img {
  float: right;
  width: 350px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.8em;
  margin-bottom: 0px;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
}

blockquote {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  max-width: 700px;
}

.aboutsection {
  overflow: hidden;
  max-height: 0px;
  transition: all ease-out 0.8s;
}

.display {
  max-height: 700px;
}

.about {
  /*margin: 0 auto;*/
  text-align: justify;
  max-width: 800px;
}

.loading{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #fff;
  border-top-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  position: relative;
  left: 12px;
  top: 2px;
  animation:loading 1.2s linear infinite;
  -webkit-animation:loading 1.2s linear infinite;
}
@keyframes loading{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes loading{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}

@media screen and (min-size: 64em) {

}
